@page "/ingredientpage"

@using System.Collections.Generic; 
@using NutritionTracker.Shared.CreatedTools;


<div class="container">

    <Tabs tabsComponents="tabsComponents"></Tabs>
      
</div>


@code {
   
    List<IComponent> tabsComponents { set; get; } = new List<IComponent>();

    protected override async Task OnInitializedAsync()
    {
         await AddComponentsToList();
    }

    private async Task AddComponentsToList()

    {
        tabsComponents.Add(new IngredientDelete());
        tabsComponents.Add(new IngredientAdd());
        tabsComponents.Add(new IngredientUpdate());
    }
}