@page "/ingredientpage"

@using NutritionTracker.Data;
@using System.Collections;
@using System.Collections.Generic; 
@using NutritionTracker.Models;

@inject IngredientService service

<div class="container">

    <Tabs tabsComponents="tabsComponents"></Tabs>
      
</div>


@code {
   
    List<IComponent> tabsComponents { set; get; } = new List<IComponent>();

    protected override async Task OnInitializedAsync()
    {
        AddComponentsToList();
    }

    private void AddComponentsToList()
    {
        tabsComponents.Add(new IngredientDelete());
        tabsComponents.Add(new IngredientAdd());
        tabsComponents.Add(new IngredientUpdate());
    }
}