@page "/ingredientpage"

@using NutritionTracker.Data;
@using NutritionTracker.Models;

@inject IngredientService service

<h3>Ingredient Page</h3>

<div class="container">


    <IngredientDelete></IngredientDelete>

    <div class="row m-5">

        <IngredientAdd></IngredientAdd>
        <IngredientUpdate></IngredientUpdate>

    </div>
</div>


@code {

    //List<Ingredient> Ingredients = new List<Ingredient>();

    //protected override async Task OnInitializedAsync()
    //{
    //    await RefreshIngredients();
    //}

    //private async Task RefreshIngredients()
    //{
    //    Ingredients = await service.GetIngredientAsync();
    //}
}