@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager navManager


<NavLink class="nav-link" href="login">
    <iconify-icon icon="bi:person-bounding-box"></iconify-icon>
    <span class="oi oi-person" aria-hidden="true"></span>
</NavLink>

<AuthorizeView>
    <Authorized>
        <a class="nav-link" @onclick="Logout" style="cursor: pointer;">
            <iconify-icon icon="carbon:logout"></iconify-icon>
            <span class="oi oi-account-logout" aria-hidden="true"></span>
        </a>
    </Authorized>
</AuthorizeView>